<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.7">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-icon" sizes="120x120" href="veggie.png">
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <title>On-Campus Food</title>
        <div id="navbarDiv">
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">McMaster Brand Art</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">McMaster links <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown Mcmaster menu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li> <!-- Connect to McMaster API -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
    </head>
    <body>
<div class="row">
  <div class="col-sm-6 col-md-4"><a href="meals-lapiazza.html">
    <div class="thumbnail">
      <img src="../static/piazzaimg.jpg" alt="La Piazza">
      <div class="caption">
        <h3>La Piazza</h3>
      </div>
    </div>
      </a>
  </div>
    
   <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/centro.jpg" alt="Centro">
      <div class="caption">
        <h3>Centro</h3>
      </div>
    </div>
    </a>
  </div> 
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/bridges.jpg" alt="Bridges">
      <div class="caption">
        <h3>Bridges</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/emwb.jpg" alt="East Meets West Bistro">
      <div class="caption">
        <h3>East Meets West Bistro</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/iahs.jpg" alt="IAHS Cafe">
      <div class="caption">
        <h3>IAHS Cafe</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/b2go.jpeg" alt="Bistro 2 Go">
      <div class="caption">
        <h3>Bistro 2 Go</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/bucks.jpg" alt="Starbuck">
      <div class="caption">
        <h3>Starbucks</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/bdsb.jpg" alt="Bistro @ DSB">
      <div class="caption">
        <h3>Bistro @ DSB</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/rejuv.jpg" alt="Rejuvenation">
      <div class="caption">
        <h3>Rejuvenation</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/ecafe.jpg" alt="E-Cafe">
      <div class="caption">
        <h3>E-Cafe</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/fireball.jpg" alt="Fireball Cafe">
      <div class="caption">
        <h3>Fireball Cafe</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/cone.jpg" alt="Cafe One">
      <div class="caption">
        <h3>Cafe One</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/bjuice.jpg" alt="Booster Juice">
      <div class="caption">
        <h3>Booster Juice</h3>
      </div>
    </div>
    </a>    
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/caffeine.jpg" alt="Caffeine">
      <div class="caption">
        <h3>Caffeine</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/teri.jpg" alt="Teriyaki Experience">
      <div class="caption">
        <h3>Teriyaki Experience</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/williams.jpg" alt="Williams Fresh Cafe">
      <div class="caption">
        <h3>Williams Fresh Cafe</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/reactor.jpg" alt="Reactor Cafe">
      <div class="caption">
        <h3>Reactor Cafe</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/chopped%20leaf.png" alt="Chopped Leaf">
      <div class="caption">
        <h3>Chopped Leaf</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/second%20cup.jpg" alt="Second Cup">
      <div class="caption">
        <h3>Second Cup</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/tims.jpg" alt="Tim Hortons">
      <div class="caption">
        <h3>Tim Hortons</h3>
      </div>
    </div>
    </a>
  </div>
    
    <div class="col-sm-6 col-md-4"><a href="#">
    <div class="thumbnail">
      <img src="../static/tims.jpg" alt="Tim Hortons">
      <div class="caption">
        <h3>Tim Hortons</h3>
      </div>
    </div>
    </a>
  </div>
</div>
    </body>
</html>